* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: darkgray;
}
.Todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.Todo-container input {
  padding: 0.5rem 0.7rem;
  outline: none;
  font-size: 16px;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 0.7rem;
}

.tasks-container {
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  flex-direction: column;
  gap: 1rem;
  /* width: 20%; */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;
  margin: auto;
}

li {
  list-style: none;
}

.ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(23, 70, 223);
  padding: 1rem;
}
