<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <style>
      body {
        background-color: black;
        color: white;
      }

      img {
        width: 150px;
      }

      .logo {
        display: flex;
        align-items: center;
        gap: 3px;
      }

      .logo img {
        width: 34px;
      }
    </style>
  </head>
</html>
